* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: #141414;
	color: white;
	font-family: monospace;
	font-size: 17px;
}
a {
	outline: none;
}

footer {
	background-color:  rgba(90, 90, 90, 0.395);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.foot {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}
.ct {
	padding-bottom: 20px;
}

.info {
	line-height: 50px;
}