nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	padding: 15px;
	width: 100%;

	border-bottom: solid 1px grey;
}
nav > img {
	height: 80px;
}
nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

	list-style-type: none;
	width: 25%;
	height: 100%;
}
nav ul li {
	margin: 0 5%;
	transition: 0.15s;
}
nav ul li:hover {
	transform: scale(1.05);
}
nav ul li a {
	color: white;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
