.parent {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 150px 50px;
	width: 100%;
}

.panier {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 75%;
}

.article {
	display: flex;
	margin-bottom: 15px;
	gap: 15px;
	width: 85%;
	height: 75px;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(90, 90, 90, 0.395);
	border: 1;
	border-color: black;
	border-radius: 10px;
	overflow: hidden;
}
.article img {
	cursor: pointer;
	margin-right: 15px;
	height: 28px;
	transition: 0.25s;
}
.article img:hover {
	transform: scale(1.15);
}
.article .pigeon {
	object-fit: cover;
	height: 100%;
	width: 100px;
}
.prix {
	margin-left: auto;
}

.recap {
	display: inline;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}
.span {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}
.totalligne {
	margin-left: auto;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.paiment {
	background-color: rgba(90, 90, 90, 0.395);
	border-radius: 10px;
	margin: 0;
	width: 25%;
	margin-right: 50px;
	padding: 10px;
}
.button {
	text-align: center;
	display: block;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	margin-top: 25px;
	background: none;
	color: white;
	font-family: monospace;
	font-size: 17px;
	padding: 10px;
	border: solid 1px white;
	transition: 0.15s;
}
.button:hover {
	background: white;
	border-color: black;
	color: black;
}

@media screen and (width <= 800px) {
	.parent {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 75px 25px;
	}
	.panier {
		width: 100%;
	}
	.article {
		width: 100%;
	}
	.paiment {
		justify-content: center;
		align-items: center;
		margin-right: 0;
		width: 100%;
	}
}
